{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    <!-- HEADER END-->   
    
    {% include 'navigation.html.twig' %}
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Shop List</h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-4">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Ajouter Magasin
                        </div>
                        <div class="panel-body">                      
                                                
                        {# 
                        {{ form_start(form, {'action' : path('shop_new'), 'method':'GET'}) }}                        
                        #}
                        
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                    </div>


                </div>
                <div class="col-md-8">
                  <div class="panel panel-default">
                        <div class="panel-heading">
                            Listes des magasins
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>                                            
                                            <th>{% trans %}TABLE_NAME_SHOP{% endtrans %}</th>
                                            <th></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for shop in shops %}
                                        <tr>                                            
                                            <td>{{ shop.name }}</td>
                                            <td class="text-right">
                                                <i class="glyphicon glyphicon-edit"></i>
                                                <a href="{{ path('shop_delete',{'id':shop.id}) }}"><i class="glyphicon glyphicon-trash"></a></i>
                                            </td>
                                        </tr>
                                    {% endfor %}                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    {% include 'footer.html.twig' %}
{% endblock %}
