{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <!-- HEADER END-->   
    
    {% include 'navigation.html.twig' %}
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Mois en cours</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" id="depense-list">
                        <table class="table table-hover">
                            <thead>
                                <tr>                                    
                                    <th>Nom Magasin</th>
                                    <th>Date (jour)</th>
                                    <th>Montant</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Franprix</td>
                                    <td>18</td>
                                    <td>18.48</td>
                                    <td class="text-right"><i class="glyphicon glyphicon-edit"></i><i class="glyphicon glyphicon-trash"></i></td>
                                </tr>
                                <tr>                                    
                                    <td>Carrefour</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td class="text-right"><i class="glyphicon glyphicon-edit"></i><i class="glyphicon glyphicon-trash"></i></i></td>
                                </tr>
                                <tr>
                                    <td>Auchan</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td class="text-right"><i class="glyphicon glyphicon-edit"></i><i class="glyphicon glyphicon-trash"></i></td>
                                </tr>
                                <tr>
                                    <td>Fnac</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td class="text-right"><i class="glyphicon glyphicon-edit"></i><i class="glyphicon glyphicon-trash"></i></td>
                                </tr>                                
                        
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th colspan="4" class="text-left">Ajouter une entrée</th>
                                </tr>
                            </thead>
                            <form action='#' method="post" id="shopForm">
                            <tbody>
                                <!-- <tr>
                                    <td><input type="text" class="form-control" placeholder="Magasin"></td>
                                    <td><input type="text" class="form-control" placeholder="Jour"></td>
                                    <td><input type="text" class="form-control" placeholder="Montant"></td>
                                    <td> <button type="submit" class="btn btn-primary">Sauvegarder</button></td>
                                </tr>
                                -->
                                {#
                                {{ form_start(form) }}
                                <tr>
                                    <td>
                                        <input type="text" id="depense_nameShop" name="depense[nameShop]" required="required" 
                                        placeholder="Nom Magasin" class="form-control" value="">
                                    </td>
                                    <td>{{ form_widget(form.dateBuy) }}</td>
                                    <td>{{ form_widget(form.amount) }}</td>
                                    <td>{{ form_widget(form.save) }}</td>
                                </tr>
                                {{ form_widget(form.idShop) }}
                                {{ form_end(form) }}
                                #}

                                <tr>
                                    <td>
                                        <input type="text" id="depense_nameShop" name="depense[nameShop]" required="required" placeholder="Nom Magasin" class="form-control" value="">
                                    </td>
                                    <td><input type="text" id="depense_dateBuy" name="depense[dateBuy]" required="required" placeholder="Jour" class="form-control"></td>
                                    <td><input type="text" id="depense_amount" name="depense[amount]" required="required" placeholder="Montant" class="form-control"></td>
                                    <td><button type="submit" id="depense_save" name="depense[save]" class="btn btn-default btn">Sauver</button></td>                                    
                                </tr>
                            </tbody>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    {% include 'footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
    
    $('#depense_save').on("click", function(){        
        console.log("j'ai clicker");
        if ($("#shopForm").submit()) {
            console.log("error");
        } else {
            console.log("no error");
        }
        console.log($("#depense_nameShop").val());
    });
    
    </script>
{% endblock %}
